<h1>Log in to CarViewer!</h1>

<form action="/login" method="post">
  <h2>Username:<input type="text" name="username" value=""></h2>
  <h2>Password:<input type="text" name="password" value=""></h2>
  <input type="submit" name="" value="Log In">
</form>
