<h1>Post a new car:</h1>
<h2>ALL FIELDS REQUIRED!</h2>

<form action="/cars" method="post">
<h3>Manufacturer: <input type="text" name="manufacturer" value=""></h3>
<h3>Condition: <input type="text" name="condition" value=""> </h3>
<h3>Value: $ <input type="text" name="value" value=""> </h3>
<h3>Year: <input type="text" name="year" value=""> </h3>
<input type="submit" name="" value="Post car">

</form>
