<!doctype html>
<html>
  <head>
    <title>CarViewer</title>
  </head>
  <body>

    <div class="container">
      <h4>CarViewer: The most rudimental car viewing site there is!</h4>

    </div>
    <%= yield %>
  </body>
</html>
