<!doctype html>
<html>
  <head>
    <title>CarViewer</title>
  </head>
  <body>

    <div class="container">
      <h4>CarViewer: The only car viewing site there is!</h4>

    </div>
    <%= yield %>



    <br>
    <a href="/logout">Logout</a>
  </br>
  </body>
</html>
